@import "src/styles/palette";

// === Desktop mode ===
div.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    height: 60px;
    padding: 6px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 268px;
      opacity: 1;
      transition: 1s;

      img {
        cursor: pointer;
      }
    }

    div.right {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        li {
          position: relative;
          list-style-type: none;
          margin-right: 25px;
          cursor: pointer;
          transition: all 0.1s ease;

          &:last-of-type {
            margin-right: 0 !important;
          }

          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #333;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s ease; /* Transition pour l'animation de soulignement */
          }

          &:hover::after {
            width: 100%;
          }

          &:active {
            transform: scale(.9);
          }
        }
      }
    }
  }

  mat-sidenav-container.sidenav-container {
    flex: 1;

    mat-sidenav {
      border: none;
      padding-top: 20px;
      background: #fff;
      transform: none;
      transition: width .3s;

      mat-nav-list {
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
          border-radius: 5px;
          height: 48px;
          margin: 0 4px 5px 4px;
          display: flex;
          align-items: center;
          padding-left: 16px;
          transition: 0.3s;
          position: relative;
          cursor: pointer;

          mat-icon {
            margin-right: 8px;
            position: absolute;
          }

          span {
            margin-left: 32px;
            white-space: nowrap;
            transition: 0.3s;
            opacity: 1;
          }

          &:hover {
            background-color: #00000009;
          }
        }

        div.top {
          header {
            display: none;
          }
        }

        div.bottom {
          a {
            font-size: 14px;
            transition: 150ms;
          }
        }
      }
    }
  }

  mat-sidenav-container.opened-snav {
    mat-sidenav {
      width: 264px;
    }

    mat-sidenav-content {
      margin-left: 264px !important;
    }
  }

  mat-sidenav-container.closed-snav {
    mat-sidenav {
      width: 64px;
      transform: none !important;
      display: initial !important;
      visibility: initial !important;
      overflow-x: hidden !important;

      mat-nav-list {
        a {
          span {
            opacity: 0;
          }
        }
      }
    }

    mat-sidenav-content {
      margin-left: 64px;
    }
  }

  .active-link {
    background-color: transparentize($secondary, 0.9) !important;
  }

  section.content {
    box-sizing: border-box;
    padding: 24px 32px;
    border-top-left-radius: 5px;
    //border-top: 1px solid transparent; // prevent collapsing margins
    width: 100%;
    height: 100%;
    box-shadow: inset 0 5px 4px -5px rgba(0, 0, 0, 0.15), /* Ombre en haut */
    inset 5px 0 5px -5px rgba(0, 0, 0, 0.1); /* Ombre à gauche */
  }

}


// === Mobile mode ===
div.dashboard-container.is-mobile {
  mat-toolbar {
    position: fixed;
    z-index: 2;
    padding: 6px 18px 6px 18px;

    div.hidden {
      opacity: 0;
    }

    div.left {
      justify-content: flex-end;
      flex-direction: row-reverse;

      app-burger-menu {
        margin-right: 15px;
      }
    }

    div.right {
      ul {
        li {
          margin-right: 14px;
        }
      }
    }

  }

  mat-sidenav-container.sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
    transition: z-index .3s;

    mat-sidenav {
      top: 0 !important;

      mat-nav-list {
        div.top {
          header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            img {
              margin-left: 20px;
            }

            button {
              margin-right: 4px;
            }
          }
        }
      }
    }

    mat-sidenav-content {
      margin-left: initial !important;
      margin-top: 60px;
    }
  }

  mat-sidenav-container.opened-snav {
    z-index: 3;

    mat-sidenav {
      width: 320px !important;
    }

    div.left {
      opacity: 0;
    }
  }

  mat-sidenav-container.closed-snav {
    z-index: 1;

    mat-sidenav {
      width: 0 !important;
    }
  }

  section.content {
    border-top-left-radius: 0;
  }
}



