@import "src/styles/palette";

$burgerWidth: 24px;
$burgerBarHeight: 1px;
$burgerBarColor: $text;

.burger-menu {
  width: $burgerWidth;
  height: 12px;
  cursor: pointer;
  position: relative;
  outline: none;

  .burger-top {
    position: absolute;
    width: $burgerWidth;
    left: 0;
    top: 0;
    border: $burgerBarHeight solid $burgerBarColor;
    transition: top .2s ease-in .3s, transform ease-in .2s;
  }

  .burger-inner {
    position: absolute;
    width: $burgerWidth;
    left: 0;
    top: 50%;
    transform: translateY(calc(-50% + 1px));
    border: $burgerBarHeight solid $burgerBarColor;
    transition: border-color .1s ease-in .1s;
  }

  .burger-bottom {
    position: absolute;
    width: $burgerWidth;
    left: 0;
    top: 100%;
    border: $burgerBarHeight solid $burgerBarColor;
    transition: top .2s ease-in .3s, transform ease-in .2s;
  }

  &.active .burger-inner {
    border-color: transparent;
    transition: border-color ease-in .1s;
  }

  &.active .burger-top {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top ease-out .2s, transform .2s ease-out .3s;
  }

  &.active .burger-bottom {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: top ease-out .2s, transform .2s ease-out .3s;
  }
}
