<div *ngIf="mobileQuery.matches" class="navbar-mobile-container">
  <mat-toolbar class="mobile">
    <app-burger-menu (onClick)="panel.toggle()"></app-burger-menu>
    <img (click)="navigateTo('/')" alt="logo" ngSrc="../../../../assets/images/core/logo1.jpg" priority="true" height="35" width="146">
  </mat-toolbar>
  <mat-expansion-panel #panel hideToggle>
    <ul>
      <li (click)="navigateTo(link.path)" *ngFor="let link of links">{{ link.label }}</li>
    </ul>
    <div *ngIf="!isLoading">
      <ng-container *ngIf="!isUserLoggedInKc">
        <app-button (onClick)="navigateTo('/signup')" label="Créer mon compte" theme="primary"></app-button>
        <app-button-bis (onClick)="login()" label="Me connecter"></app-button-bis>
      </ng-container>

      <ng-container *ngIf="isUserLoggedInKc && !userLoggedInApp">
        <app-button-bis (onClick)="navigateTo('/signup')" label="Compléter mon profile"></app-button-bis>
        <app-button-bis (onClick)="logout()" label="Se déconnecter"></app-button-bis>
      </ng-container>

      <ng-container *ngIf="userLoggedInApp">
        <app-button-bis (onClick)="navigateTo('/dashboard')" label="Tableau de bord"></app-button-bis>
        <!--   todo : to remove   -->
        <app-button-bis (onClick)="logout()" label="Se déconnecter"></app-button-bis>
      </ng-container>
    </div>
  </mat-expansion-panel>
</div>

<mat-toolbar class="desktop" *ngIf="!mobileQuery.matches">
  <div class="left">
    <img (click)="navigateTo('/')" alt="logo" height="40" ngSrc="../../../../assets/images/core/logo1.jpg"
         priority="true" width="167">
    <ul>
      <li (click)="navigateTo(link.path)" *ngFor="let link of links">{{ link.label }}</li>
    </ul>
  </div>

  <div *ngIf="!isLoading" class="right">
    <ng-container *ngIf="!isUserLoggedInKc">
      <app-button (onClick)="navigateTo('/signup')" label="Créer mon compte" theme="primary"></app-button>
      <app-button-bis (onClick)="login()" label="Me connecter"></app-button-bis>
    </ng-container>

    <ng-container *ngIf="isUserLoggedInKc && !userLoggedInApp">
      <app-button-bis (onClick)="navigateTo('/signup')" label="Compléter mon profile"></app-button-bis>
      <app-button-bis (onClick)="logout()" label="Se déconnecter"></app-button-bis>
    </ng-container>

    <ng-container *ngIf="userLoggedInApp">
      <app-button-bis (onClick)="navigateTo('/dashboard')" label="Tableau de bord"></app-button-bis>
      <!--   todo : to remove   -->
      <app-button-bis (onClick)="logout()" label="Se déconnecter"></app-button-bis>
    </ng-container>
  </div>
</mat-toolbar>
