<nav>
  <div class="left">
    <img (click)="navigateTo('/')" ngSrc="assets/images/shared/logo1.jpg" alt="logo" priority="true" height="40" width="167">
    <ul>
      <li (click)="navigateTo('/test')">Entreprises</li>
      <li (click)="navigateTo('/')">Prestataires</li>
      <li (click)="navigateTo('/')">Solutions</li>
      <li (click)="navigateTo('/')">Ressources</li>
    </ul>
  </div>

  <div class="right" *ngIf="isUserLoggedIn !== null">
    <ng-container *ngIf="!isUserLoggedIn; else logged">
      <app-button theme="primary" label="Créer mon compte" (onClick)="navigateTo('/profile-selection')"></app-button>
      <app-button-bis label="Me connecter" (onClick)="login()"></app-button-bis>
    </ng-container>

<!--   todo : to remove   -->
    <ng-template #logged>
      <span></span>
      <app-button-bis label="Se déconnecter" (onClick)="logout()"></app-button-bis>
    </ng-template>
  </div>
</nav>
