<nav>
  <div class="left">
    <a routerLink="/">
      <img ngSrc="assets/images/shared/logo1.jpg" alt="logo" priority="true" height="40" width="167">
    </a>
    <ul>
      <li><a routerLink="/test">Test</a></li>
      <li><a routerLink="/">Path 2</a></li>
      <li><a routerLink="/">Path 3</a></li>
      <li><a routerLink="/">Path 4</a></li>
    </ul>
  </div>

  <div class="right">
    <button (click)="createAccount()">Créer mon compte</button>
    <button (click)="login()">Me connecter</button>
  </div>
</nav>
