<nav>
  <div class="left">
    <img (click)="navigateTo('/')" alt="logo" ngSrc="../../../../assets/images/core/logo1.jpg" priority="true" height="35" width="146">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </div>

  <div class="right">
    <ul>
      <li (click)="navigateTo('/')">Action 1</li>
      <li (click)="navigateTo('/')">Action 2</li>
    </ul>
  </div>
</nav>
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav
               [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches"
               fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/test1">Test 1</a>
      <a mat-list-item routerLink="/dashboard/test2">Test 2</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<img (click)="navigateTo('/')" alt="logo" ngSrc="../../../../assets/images/core/logo1.jpg" priority="true" height="35" width="146">
