@import "src/styles/palette";

div.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .is-mobile .toolbar {
    position: fixed;
    z-index: 2;
  }

  mat-toolbar {
    height: 60px;
    padding: 6px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 268px;

      button {

      }

      img {
        cursor: pointer;
      }
    }

    div.right {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          position: relative;
          list-style-type: none;
          margin-right: 25px;
          cursor: pointer;
          transition: all 0.1s ease;

          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #333;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s ease; /* Transition pour l'animation de soulignement */
          }

          &:hover::after {
            width: 100%;
          }

          &:active {
            transform: scale(.9);
          }
        }
      }
    }
  }

  .sidenav-container {
    flex: 1;
  }

  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  mat-sidenav {
    border: none;
    width: 264px;
    padding: 20px 5px;
    background: #fff;
  }

  mat-nav-list {
    a {
      border-radius: 5px;
      height: 48px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      padding-left: 16px;
      transition: 0.3s;

      mat-icon {
        margin-right: 8px;
      }

      &:hover {
        background-color: #00000009;
      }
    }
  }

  .active-link {
    background-color: transparentize($secondary, 0.9) !important;
  }

  section.content {
    box-sizing: border-box;
    padding: 24px 32px;
    border-top-left-radius: 5px;
    //border-top: 1px solid transparent; // prevent collapsing margins
    width: 100%;
    height: 100%;
    box-shadow:
            inset 0 5px 4px -5px rgba(0, 0, 0, 0.15),   /* Ombre en haut */
            inset 5px 0 5px -5px rgba(0, 0, 0, 0.1);   /* Ombre à gauche */
  }

}


