@import "src/styles/palette";

div.profile-selection-container {
  height: 100vh;
  min-height: 570px;
  width: 100%;
  display: flex;

  img.logo {
    position: absolute;
    top: 60px;
    left: 60px;
    cursor: pointer;
  }

  section.right {
    background: white url('../../../../../assets/images/core/elec.jpg') center;
    background-size: cover;
    flex: 1;
    height: 100%;
  }

  section.left {
    box-sizing: border-box;
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    box-shadow: 0 1px 1px #33333330;
    border: none;

    h1 {
      margin-bottom: 40px;
    }

    button {
      min-height: 100px;
      width: 100%;
      padding: 24px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 100ms;
      background: transparent;
      border: 1px solid $border-box;
      border-radius: 4px;

      div {
        flex: 1;
        margin: 0 20px ;
        line-height: 1.3;

        h2, p {
          margin: 0;
          text-align: start;
        }

        h2 {
          font-weight: 600;
        }

        p {
          font-size: 20px;
        }
      }

      mat-icon {
        transform: scale(1.2);
      }

      &:first-of-type {
        margin-bottom: 24px;
      }

      &:hover {
        outline: none;
        box-shadow: 0 4px 12px 0 rgba(24, 24, 24, 0.16);
      }
    }

    p.login {
      text-align: end;
      transition: 100ms;
      cursor: pointer;
      margin-top: 14px;
      color: #1ca0be;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 990px) {
  section.right {
    display: none;
  }

  section.left {
    width: 100% !important;
  }
}

@media (max-width: 770px) {
  section.left {
    padding-right: 24px !important;
    padding-left: 24px !important
  }
}

@media (max-width: 570px) {
  img.logo {
    left: 24px !important;
    top: 24px !important;
  }

  section.left {
    padding-right: 24px !important;
    padding-left: 24px !important;

    button {

      div h2, div p {
        font-size: 16px !important;
      }
    }
  }
}
