<div class="profile-selection-container">

  <section class="left">
    <h1>Quelle est votre situation ?</h1>

    <button class="profile" (click)="onSelect(profileType.CUSTOMER)">
      <img ngSrc="../../../../assets/images/core/logo-anysense-temp.png" alt="icon" priority="true" height="48" width="48">
      <div>
        <h2>Client</h2>
        <p>Je recherche des prestataires</p>
      </div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
    </button>

    <button class="profile" (click)="onSelect(profileType.CONTRACTOR)">
      <img ngSrc="../../../../assets/images/core/logo-anysense-temp.png" alt="icon" priority="true" height="48" width="48">
      <div>
        <h2>Prestataires</h2>
        <p>Je créer mon profil</p>
      </div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
    </button>
    <p class="login" (click)="login()">« J'ai déjà un compte</p>
  </section>

  <section class="right"></section>

</div>
